<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size="8" class="titulo">
                <ion-title>
                Mapa Intercactivo
                </ion-title>
            </ion-col>
            <ion-col size="2">
                <ion-img src="assets/media/duoc.png" class="logo"></ion-img>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content class="fondo">
    <ion-grid>
        <ion-card class="cardalign">
            <br>
            <ion-row>
                <ion-col>
                    <div class="centrado">
                        <h2><b>Inicio de Sesion</b></h2>
                    </div>
                </ion-col>
            </ion-row>
            <br><br>
            <div class="centrado">
                <ion-row>
                    <ion-col>
                        <div class="centrado">
                            <ion-icon name="person" size="large"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="centrado">
                            <ion-button href="./inicio" color="success">Usuario guardado</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
                <br>
                <ion-row>
                    <ion-col>
                        <div class="centrado">
                            <ion-icon name="person-add" size="large"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="centrado">
                            <ion-button href="./login" color="success">Otro usuario</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
                <br>
                <ion-row>
                    <ion-col>
                        <ion-row>
                            <div id="mini">
                                <ion-label>¿No tienes una cuenta?</ion-label>
                            </div>
                        </ion-row>
                        <ion-row>
                            <div id="mini">
                                <a href="./registro">Haz Click Aqui</a>
                            </div>
                        </ion-row>
                        <br>
                        <ion-row>
                            <div expand="block" class="centrado">
                                <ion-button color="secondary">
                                    Salir
                                </ion-button>
                            </div>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </div>
            <br><br>
        </ion-card>
    </ion-grid>
</ion-content>

<ion-footer>
    
</ion-footer>